name: Release FFmpegKit Lite

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          brew install autoconf automake libtool pkg-config

      - name: Build iOS
        run: |
          chmod +x Scripts/build-ios.sh
          Scripts/build-ios.sh

    #   - name: Build macOS
    #     run: |
    #       chmod +x Scripts/build-macos.sh
    #       Scripts/build-macos.sh

      - name: Package
        run: |
            chmod +x Scripts/package.sh
            Scripts/package.sh

      - name: Commit and Push
        run: |
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"

            git add -f Frameworks/ios
            git commit -m "Update iOS XCFramework for ${{ github.ref_name }}" || exit 0
            git push origin HEAD:main        
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}